@charset "UTF-8";
/*
sass 7–1 pattern/
|
|– abstracts/ (or utilities/)
|   |– _variables.scss    // Sass Variables
|   |– _functions.scss    // Sass Functions
|   |– _mixins.scss       // Sass Mixins
|
|– base/
|   |– _base.scss         // Reset/normalize
|   |– _typography.scss   // Typography rules
|   |– _utilities.scss    // Utility/helper rules
|   |– _animations.scss   // Animation rules
|
|– components/ (or modules/)
|   |– _buttons.scss      // Buttons
|   |– _carousel.scss     // Carousel
|   |– _slider.scss       // Slider
|
|– layout/
|   |– _navigation.scss   // Navigation
|   |– _grid.scss         // Grid system
|   |– _header.scss       // Header
|   |– _footer.scss       // Footer
|   |– _sidebar.scss      // Sidebar
|   |– _forms.scss        // Forms
|
|– pages/
|   |– _home.scss         // Home specific styles
|   |– _about.scss        // About specific styles
|   |– _contact.scss      // Contact specific styles
|
|– themes/
|   |– _theme.scss        // Default theme
|   |– _admin.scss        // Admin theme
|
|– vendors/
|   |– _bootstrap.scss    // Bootstrap
|   |– _jquery-ui.scss    // jQuery UI
|
`– main.scss              // Main Sass file
*/
/*

0 - 600      => 37.5em      Phone
600 - 992    => 62em        Tablet (portrait)
992 - 1200   => 75em        Tablet (landscape)
1200 - 1800  => 112.5em     Desktop style
1800+        => 112.5em     Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- desktop
- big-desktop

when user changes the default fontsize in the browsers our mediaquery with px are not effected
In media queries when using em or rems both units take root font size from browser which is 16px
but not takes root font size that we set earlier in the html selector definition
here we're using ems because rems have some issues in different browsers when used in media qureies
so 1em = 16px which is the browser's root font size
so 
media-query-px / root-size-browser => 600px/16px = 37.5em

*/
.navbar {
  padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-item:not(:last-child) {
  margin-right: 2rem;
}
@media only screen and (max-width: 48em) {
  .nav-item {
    text-align: right;
  }
  .nav-item:not(:last-child) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .list-inline {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}
.list-inline-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .list-inline-item {
    flex: 1 0 50%;
    margin: 1.5rem 0;
  }
}

.list-inline-item a {
  padding: 0 3rem;
}
.list-inline-item a:hover {
  color: #0f98d5;
}

.list-inline-item.active a {
  color: #0f98d5;
}

.list-inline-item:not(:last-child) {
  border-right: 1px solid #fff;
  margin-right: 0;
}
@media only screen and (max-width: 37.5em) {
  .list-inline-item:not(:last-child) {
    border: none;
    margin-right: 0;
  }
}

.form-control {
  border-color: transparent;
  border-radius: 0.5rem;
  padding: 1.5rem 2.5rem;
  font-weight: bold;
  font-size: 1.65rem;
}

.form-control:focus {
  border-color: #0f98d5;
}

@media only screen and (max-width: 37.5em) {
  .input-group {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .input-group > .form-control {
    width: 100%;
    border-radius: 0.5rem !important;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-left: 0;
  }
}

.accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.faqs .accordion-button,
.faqs .accordion-item {
  background: linear-gradient(90deg, #090909 0%, rgba(69, 69, 69, 0.554374) 57.99%, #1c1c1c 100%);
  border: 1px solid #202020;
}
.faqs .accordion-item:not(:last-child) {
  margin-bottom: 1rem;
}
.faqs .accordion-button:focus {
  border-color: #333;
  box-shadow: none;
}
.faqs .accordion-button {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.faqs .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
.faqs .accordion-button::after {
  background-image: url(../img/svg/plus.png);
}
.faqs .accordion-button:not(.collapsed)::after {
  background-image: url(../img/svg/plus.png);
}

.profile .accordion-button {
  background-color: transparent;
  color: #fff;
  padding: 1rem 0;
}
.profile .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.profile .accordion-item {
  background-color: transparent;
  border: none;
}
.profile .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
.profile .accordion-item:not(:last-child) .accordion-button {
  border-bottom: 1px solid #fff;
}
.profile .accordion-button::after {
  background-image: url(../img/svg/icon-chevron.svg);
}
.profile .accordion-body {
  padding: 1rem 0 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* width */
/* Track */
/* Handle */
/* Handle on hover */
html {
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.2%;
  }
}
@media only screen and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover, a:active {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

.main-heading {
  font-size: 1.8rem;
  color: #0f98d5;
}

.main-heading-bold {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0f98d5;
}

.main-heading-bold-lg {
  font-size: 3.5rem;
  font-weight: bold;
  color: #0f98d5;
}

.secondary-heading-bold-lg {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
}

.secondary-heading-bold {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.main-heading-sm {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0f98d5;
}

.line-height-1 {
  line-height: 1;
}

.bg-graphic {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/graphic-circle-1.png), linear-gradient(#000, #000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .bg-graphic {
    background: url(../img/graphic-circle.png), linear-gradient(#000, #000), #000;
    background-repeat: no-repeat;
    background-size: 50rem, cover;
    background-position: 15rem -25rem, center;
  }
}

.bg-graphic-radial {
  background: url(../img/graphic-circle-4.png), radial-gradient(circle, #1a1a1a 0%, black 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .bg-graphic-radial {
    background: url(../img/graphic-circle.png), radial-gradient(circle, #1a1a1a 0%, black 100%);
    background-repeat: no-repeat;
    background-size: 50rem, cover;
    background-position: 15rem -25rem, center;
  }
}

.bg-radial {
  position: relative;
}
.bg-radial::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #1a1a1a 0%, black 100%);
  z-index: -100;
}

.primary-color {
  color: #0f98d5;
}

.seperator {
  text-align: center;
  position: relative;
}
.seperator span {
  background: #000;
  padding: 0 1rem;
}
.seperator::before {
  content: "";
  height: 1px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}

.mb-12 {
  margin-bottom: 12rem;
}

.mw-30 {
  width: 100%;
  max-width: 30rem;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, black 100%), url(../img/landing-cover.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}
.hero__content {
  text-align: center;
  max-width: 40%;
  margin: auto;
  text-shadow: 0 4px 1px #333;
}
@media only screen and (max-width: 48em) {
  .hero__content {
    max-width: 90%;
    height: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
  }
}
.hero__content-icon {
  transform: rotate(-90deg);
}
.hero__heading--lg {
  font-weight: bold;
  font-size: 4.5rem;
}
@media only screen and (max-width: 48em) {
  .hero__heading--lg {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__heading--lg {
    margin-top: auto;
  }
}
.hero__heading--md {
  font-weight: bold;
  font-size: 3.5rem;
}
@media only screen and (max-width: 48em) {
  .hero__heading--md {
    font-size: 2.5rem;
    font-weight: normal;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__heading--md {
    margin-top: auto;
  }
}
.hero__heading--sm {
  font-size: 2rem;
}
@media only screen and (max-width: 48em) {
  .hero__heading--sm {
    font-size: 1.5rem;
  }
}

.header__mobile-nav {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .header__mobile-nav {
    display: flex;
  }
}

.footer {
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .footer {
    padding: 6rem 0;
  }
}
.footer__social {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 48em) {
  .footer__social {
    margin: 5rem 0;
  }
}
.footer__social li {
  transition: all 0.25s;
}
.footer__social li:not(:last-child) {
  margin-right: 2rem;
}
.footer__social li:hover {
  transform: rotate(360deg);
}
.footer__social a {
  color: #000;
  border-radius: 50%;
  font-size: 1.6rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 48em) {
  .footer__social a {
    background-color: #0f98d5;
  }
}
.footer__copyright {
  color: #0f98d5;
}

.form__input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: 2px solid transparent;
  outline: none;
}
.form__input::placeholder {
  color: #ccc;
}
.form__input:focus {
  border: 2px solid #0f98d5;
  background-color: transparent;
  color: #0f98d5;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.form-select {
  border-radius: 0.5rem;
  padding: 1rem;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: bold;
}
.form-select option {
  font-weight: bold;
}
.form-select:focus {
  border: 2px solid #0f98d5;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.button {
  border: 0;
  outline: 0;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: all 0.25s;
}
.button:hover {
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.25);
}
.button--primary {
  background-color: #0f98d5;
  padding: 1rem 2rem;
  transition: all 0.2s;
}
.button--primary-huge {
  width: 100%;
}
.button--primary-big {
  font-size: 1.65rem;
  padding: 1rem 3rem;
}
@media only screen and (max-width: 37.5em) {
  .button--primary-big {
    padding: 1.5rem 3rem;
  }
}
.button--primary:hover {
  background-color: #11a9ed;
}
.button--primary-sm {
  background-color: #0f98d5;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}
.button--primary-sm:hover {
  background-color: #11a9ed;
}
.button--black {
  background-color: #000;
  padding: 1rem 2rem;
}
.button--black:hover {
  background-color: #0d0d0d;
}
.button--black__icon {
  transform: rotate(270deg);
  margin-left: 2rem;
  display: none;
}
@media only screen and (max-width: 48em) {
  .button--black__icon {
    display: inline-block;
  }
}
@media only screen and (max-width: 48em) {
  .button--black {
    width: 100%;
    font-size: 1.6rem;
  }
}
.button--social {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  transition: all 0.2s;
}
.button--social img,
.button--social span {
  margin-right: auto;
}
.button--social-apple {
  color: #000;
  background-color: #ccc;
}
.button--social-facebook {
  color: #fff;
  background-color: #3a4f97;
}
.button--social-google {
  color: #000;
  background-color: #fff;
}
.button--dark {
  background-color: #1a1a1a;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
}

.button-plain {
  font-weight: bold;
  color: #0f98d5;
  background-color: transparent;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started {
  padding: 2rem 0;
  background-color: #0f98d5;
  position: relative;
}
.get-started__row {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .get-started__row {
    flex-direction: column;
    position: relative;
  }
  .get-started__row > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.get-started__desc {
  margin: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .get-started__desc {
    margin-right: 0;
    margin-left: 0;
  }
}
.get-started__graphic {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 37.5em) {
  .get-started__graphic {
    display: block;
  }
}

.main {
  background: url(../img/graphic-circle-2.png), url(../img/graphic-circle-3.png), url(../img/graphic-circle-3.png);
  background-size: 120%;
  background-position: -10rem 0, -10rem 50%, -10rem 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 75em) {
  .main {
    background-image: url(../img/graphic-circle-2.png), url(../img/graphic-circle-3.png);
    background-position: -10rem 0, -10rem 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .main {
    background-image: url(../img/graphic-circle-2.png), url(../img/graphic-circle-3.png), url(../img/graphic-circle-3.png);
    background-size: 250%, 200%, 500%;
    background-position: 120% 24rem, -20rem 60%, 20rem 125%;
  }
}

.feature {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.feature::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #1a1a1a 0%, black 100%);
  z-index: -5;
}
@media only screen and (max-width: 75em) {
  .feature {
    min-height: 40vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature {
    min-height: 75vh;
  }
}

.description {
  padding: 8rem 0;
}
.description__content {
  display: flex;
  margin: 1.5rem 0;
}
.description__icon {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(90deg, #090909 0%, rgba(53, 53, 53, 0.554374) 50%, #1c1c1c 100%);
  border-radius: 50%;
  border: solid 1px #0f98d5;
  font-size: 2rem;
  color: #fff;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__details h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.description__details p {
  margin: 0;
}

.circle {
  background: url(../img/graphic-footer-circle.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 37.5em) {
  .circle {
    background: none;
  }
}

.about {
  min-height: 100vh;
  background: url(../img/bg-cover.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10rem 0;
}
@media only screen and (max-width: 48em) {
  .about {
    background-position: center;
  }
}
.about__graphic {
  position: absolute;
  left: -5%;
  top: 5%;
  pointer-events: none;
  user-select: none;
}
@media only screen and (max-width: 48em) {
  .about__graphic {
    left: -30%;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__graphic {
    display: none;
  }
}

.auth {
  padding: 7rem 0;
}

.profile {
  padding: 7rem 0;
}
.profile__header {
  padding: 2rem;
  margin-bottom: 1rem;
  background: radial-gradient(circle, #1a1a1a 50%, black 100%);
  border: 1px solid #231f20;
}
.profile__main {
  padding: 2rem;
  background: radial-gradient(circle, #1a1a1a 50%, black 100%);
  border: 1px solid #231f20;
}
.profile__figure {
  border: 1rem solid #0f98d5;
  max-width: 20rem;
  max-height: 20rem;
}
.profile__over {
  cursor: pointer;
  margin-right: 1rem;
  position: relative;
  transition: all 0.3s;
}
.profile__over:hover img {
  opacity: 0.5;
}
.profile__over:hover span {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.profile__over span {
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: all 0.3s;
}
.profile__wrapper {
  background: radial-gradient(circle, #1a1a1a 50%, black 100%);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

/*

Abstracts (or utilities): holds Sass tools, helper files, variables, functions, mixins and other config files.
These files are meant to be just helpers which don’t output any CSS when compiled.

Base: holds the boilerplate code for the project. Including standard styles such as resets and typographic rules,
which are commonly used throughout your project.

Components (or modules): holds all of your styles for buttons, carousels, sliders, and similar page components 
(think widgets). Your project will typically contain a lot of component files — as the whole site/app should
be mostly composed of small modules.

Layout: contains all styles involved with the layout of your project. Such as styles for your header,
footer, navigation and the grid system.

Pages: any styles specific to individual pages will sit here. For example it’s not uncommon for the home page
of your site to require page specific styles that no other page receives.

Themes: this is likely not used in many projects. It would hold files that create project specific themes.
For example if sections of your site contain alternate color schemes.

Vendors: contains all third party code from external libraries and frameworks — such as Normalize, 
Bootstrap, jQueryUI, etc. However, there is often a need to override vendor code. If this is required, 
its good practice to create a new folder called vendors-extensions/ and then name any files after the 
vendors they overwrite. The filevendors-extensions/_bootstrap.scss would contain all your Bootstrap 
overrides — as editing the vendor files themselves, isn’t generally a good idea.

Main.scss: This file should only contain your imports!

*/

/*# sourceMappingURL=main.css.map */
