.hero {
	display: flex;
	flex-direction: column;
	height: 100vh;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%),
			url(../img/landing-cover.png);
		background-size: cover;
		background-position: center;
		opacity: 0.6;
		z-index: -1;
	}

	&__content {
		text-align: center;
		max-width: 40%;
		margin: auto;
		text-shadow: 0 4px 1px #333;

		@include media-query(tab) {
			max-width: 90%;
			height: 100%;
			padding: 3rem 0;
			display: flex;
			flex-direction: column;
		}
	}

	&__content-icon {
		transform: rotate(-90deg);
	}

	&__heading {
	}

	&__heading--lg {
		font-weight: bold;
		font-size: 4.5rem;

		@include media-query(tab) {
			font-size: 2.5rem;
		}

		@include media-query(phone) {
			margin-top: auto;
		}
	}

	&__heading--md {
		font-weight: bold;
		font-size: 3.5rem;

		@include media-query(tab) {
			font-size: 2.5rem;
			font-weight: normal;
		}

		@include media-query(phone) {
			margin-top: auto;
		}
	}

	&__heading--sm {
		font-size: 2rem;

		@include media-query(tab) {
			font-size: 1.5rem;
		}
	}
}

.header {
	&__mobile-nav {
		display: none;

		@include media-query(phone) {
			display: flex;
		}
	}
}
