.hero {
	display: flex;
	flex-direction: column;
	height: 100vh;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%),
			url(../img/landing-cover.png);
		background-size: cover;
		background-position: center;
		opacity: 0.6;
		z-index: -1;
	}

	&__content {
		text-align: center;
		max-width: 40%;
		margin: auto;
		text-shadow: 0 4px 1px #333;

		@include media-query(tab) {
			max-width: 90%;
			height: 100%;
			padding: 3rem 0;
			display: flex;
			flex-direction: column;
		}
	}

	&__content-icon {
		transform: rotate(-90deg);
	}

	&__heading {
	}

	&__heading--lg {
		font-weight: bold;
		font-size: 4.5rem;

		@include media-query(tab) {
			font-size: 2.5rem;
		}

		@include media-query(phone) {
			margin-top: auto;
		}
	}

	&__heading--md {
		font-weight: bold;
		font-size: 3.5rem;

		@include media-query(tab) {
			font-size: 2.5rem;
			font-weight: normal;
		}

		@include media-query(phone) {
			margin-top: auto;
		}
	}

	&__heading--sm {
		font-size: 2rem;

		@include media-query(tab) {
			font-size: 1.5rem;
		}
	}
}

.header {
	&__mobile-nav {
		display: none;

		@include media-query(phone) {
			display: flex;
		}
	}

	&-nav {
		border-top: 1px solid #9a9999;

		&__list {
			display: flex;
			justify-content: flex-end;
		}

		&__item {
			margin-top: -1px;
			padding: 0.4rem 0.5rem 0;

			&.active {
				border-top: 3px solid $primary-color;
			}

			@include notLastChild {
				margin-right: 4rem;
			}

			@include selectLastChild {
				margin-right: 2rem;
			}
		}

		&--desktop {
			@include media-query(phone) {
				display: none;
			}
		}

		&--smartphone {
			display: none;

			@include media-query(phone) {
				z-index: 5;
				display: block;
				margin-top: 0;
				border-top: none;
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: $black-color;
				box-shadow: 0 0 15px rgba(34, 34, 34, 0.5);
			}
		}

		&--smartphone &__list {
			@include media-query(phone) {
				justify-content: space-between;
				padding: 2.5rem 0;
			}
		}

		&--smartphone &__item {
			@include notLastChild {
				margin-right: 4rem;

				@include media-query(phone) {
					margin-right: 0;
				}
			}

			@include selectLastChild {
				margin-right: 2rem;

				@include media-query(phone) {
					margin-right: 0;
				}
			}

			@include media-query(phone) {
				margin-top: 0;
				flex: 1;
				text-align: center;
				padding: 0;
			}
		}

		&--smartphone &__link {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&--smartphone &__icon {
			width: 3rem;
			height: 3rem;
		}

		&--smartphone &__text {
			margin-top: 1rem;
		}
	}
}
