@font-face {
	font-family: "Almarai Light";
	src: url("../fonts/almarai/Almarai-Light.ttf") format("ttf");
}

@font-face {
	font-family: "Almarai Regular";
	src: url("../fonts/almarai/Almarai-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Almarai Bold";
	src: url("../fonts/almarai/Almarai-Bold.ttf") format("ttf");
}
