.main-heading {
    font-size: 1.8rem;
    color: $primary-color;
}

.main-heading-bold {
    font-size: 1.8rem;
    font-weight: bold;
    color: $primary-color;
}

.main-heading-bold-lg {
    font-size: 3.5rem;
    font-weight: bold;
    color: $primary-color;
}

.secondary-heading-bold-lg {
    font-size: 3.5rem;
    font-weight: bold;
    color: $white-color;
}

.secondary-heading-bold {
    font-size: 2.8rem;
    font-weight: bold;
    color: $white-color;
}

.main-heading-sm {
    font-size: 1.3rem;
    font-weight: bold;
    color: $primary-color;
}

.line-height-1 {
    line-height: 1;
}

////////////////
.main-heading-md {
    font-size: 1.6rem;
    font-weight: bold;
    color: $white-color;
}

.heading-alignment {
    margin-bottom: 1rem;
}

.main-heading-sm-2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $white-color;
}

.main-heading-sm-3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $secondary-text-color;
    background-color: transparent;
    border: 1px solid $primary-color;
}

.main-heading-sm-4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
}

.default-font-size {
    font-size: 1.2rem;
}

.main-heading-bold-2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4D4D4D;
}

.main-heading-bold-3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4D4D4D;
}