.section-billing {
    background-color: #FFFFFF;
    &__heading {
        padding: 1rem;
    }
    &__membership {
        padding: 1rem;
    }
    &__membership-option {
        border: 1px solid #a5a5a5;
        padding: 1rem;
    }
    &__table {
        padding: 1rem 2rem;
        @include media-query(phone) {
            padding: 1rem 0;
            img {
                width: 4.5rem;
            }
        }
    }
}