.registration-new {
    // border: 1px solid black;
}

.section-plan {
    width: 100%;
    max-width: 45rem;
    margin: auto;
    border-radius: 2rem;
    overflow: hidden;
    line-height: 2;
    &_monthly {
        width: 50%;
        border-right: 1px solid $white-color;
        padding: 10px 15px 5px 15px;
        position: relative;
    }
    &_yearly {
        width: 50%;
        padding: 10px 15px 5px 15px;
        position: relative;
    }
    &_details {
        width: 100%;
        border-top: 1px solid $white-color;
        padding: 15px 15px 12px 15px;
    }
    &_check-box {
        position: absolute;
        top: 2.4rem;
        right: .4rem;
    }
}